.cart-item-qty input[type=text]{
    width: 30px;
}
.cart-item-image img{
    width: 100%;
}
.cart-item a{
    display:block;
    font-size: 12px;
    color:#606060;
}
.cart-item p{
    color:black;
    font-size: 12px;
    font-weight: 400;
}
.cart-item-price p{
    font-weight: bold;
}
.cart-item-name p:nth-of-type(2){
   color:#606060;
}
.cart-item, .cart-item-title, #individual-prices {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #d8d8d8;
}
.cart-item{
    padding:10px 0;
}
.title-card{
   background-color:  #d8d8d8;
   height: 90px;
   padding: 35px 10%;
}
#cart{
    padding: 0 10%;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.cart-item-title{
    margin-top:20px;
   
}
.cart-item-title p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #7c7c7c;
}
.title-card h1{
    margin: 0;
    font-size: 15px;
    letter-spacing: 1.5px;
   
}
.cart-summry-notnow a{
    float: none !important; 
    letter-spacing: 1.5px;
}

.cart-summry-notnow a{
    font-weight: bold;
}

.all-price p, .cart-summry-notnow a{
    font-size: 12px;
    color:black;
    text-transform: uppercase;
   
}
.all-price p{
    
}
.all-price p a{
    text-transform: none;
    color:#606060;
}
#total-row{
    margin-top:50px;
}
#individual-prices p{
    margin-bottom: 8px;
    font-weight: bold;
}
#sum-of-prices{
    padding: 25px 0 0;
}
#sum-of-prices p{
    font-weight: bold;
}

#total-row .col-md-4 p{
    text-align: right;
}
.buttons-row div{
    padding: 0;
}
.buttons-row .cart-checkout .btn{
    height: 56px;
    width: 100%;
    border-radius:0;
    background-color: #333d48;
    color:white;
    padding: 17px 12px;
    text-transform:uppercase;
}
.buttons-row{
    margin-top: 25px;
}
.buttons-row  #paypal{
    text-align:center;
    margin-top:25px;
}
.buttons-row  #paypal a{
    border-radius: 6px;
    background-color: #ffc92e;
    background-image: url('/images/PayPal.png');
    background-position: top 6px right 20px;
    background-repeat: no-repeat;
    padding:6px 110px 6px 20px;
    border: 1px solid #e2a303;
}
.item-favorites div img{
    width:100%;
}
.item-favorites p{
    text-align:center;
}
.item-favorites div .cart-item-name{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
}
.item-favorites div .cart-item-description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.item-favorites div .btn{
    font-size:12px;
    height:30px;
    width: 100%;
    border-radius:0;
    background-color: black;
    color:white;
 
    text-transform:uppercase;
}
.item-favorites div p{
    margin: 0;
    color:black;
}
.item-favorites div .cart-item-price{
    font-weight: bold;
    margin:5px 0;
}
#favorires-row{
    margin-top:20px;
}
#favorires-row div h1{
    color: black;
    font-size:15px;
}
.item-favorites #remove-link{
    text-align: center;
}
.item-favorites #remove-link a{
    margin-top: 5px;
    color:#606060;
}
.item-favorites .images-wrap{
    margin-bottom: 10px;
}
@media  (max-width:767px) {
    .cart-item-title{
        display:none;
    }
}
/******************************************************************/
#billing-form .form-group {
    margin-bottom: 10px;
}

#billing,
#shippng{
        max-width: 1440px;
        margin-left: auto !important;
        margin-right: auto !important;
        background: #fff;
        padding-bottom: 40px;
}
#shippng-form .form-group label, #billing-form .form-group label {
    font-weight: 600;
}
input[type="radio"] {
    display:none;            
}
input[type="radio"] + label {
  font-size:11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #444;
  cursor: pointer;
}
input[type="radio"] + label::before {
        margin-right: 10px;
    margin-top: 5px;
    content: "";
    position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  border:1px #d8d8d8 solid;

  cursor: pointer;
}
input[type="radio"] + label::before {
    
}
input[type="radio"]:checked + label::before {
    background-color: black;
    background-image: url('/images/icon-choos.png');
    background-position: top 3px left 3px;
    background-repeat: no-repeat;
    border: none;
}
input[type="radio"]:disabled + label::before {
}
input[type="radio"]:checked:disabled + label::before {
    
}​
[for="choose-paypal"] {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #ddd linear-gradient(#ccc, #fff);
  box-shadow:
        inset 0 2px 1px rgba(0,0,0,.15),
        0 2px 5px rgba(200,200,200,.1);
  cursor: pointer;
}
.form-card{
    margin-left: 40px;
}
#label-card{
   display:none;
    width:280px;
    height:30px;
    background: url('/images/visa_icon.png') 35px 0 no-repeat,
                url('/images/mastercard_icon.png') 85px 0 no-repeat,
                url('/images/AExpress_icon.png') 135px 0 no-repeat,
                url('/images/discover_icon.png') 185px 0 no-repeat;
}
#paypal-label{
    height:30px;
    width: 85px;
     background: url('/images/paypal_icon.png') 35px 0 no-repeat;
}
#to-card{
    display:none;
    margin-top:30px;
}
.label-address{
  height:25px;
  line-height: 25px;
  margin-bottom: 10px;
}
.label-address::before{
    margin-bottom: -5px;
}
.address-card{
    padding-left: 30px;
}
.address-card p{
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    color:black;
}
.radio-row{
        padding: 0 15px;
}
#paypal-row{

    height: 55px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #d8d8d8;
    padding:13px 0;
    margin-right: 15% !important;
    margin-left: 15px !important;
    margin-bottom:50px;
}
#promo-code-link{
    text-align:right;
    margin: 7px 15% 40px;
    padding:0;
}
#promo-code-link a{
    font-size: 11px;
    letter-spacing: 1px;
    color: #7e7e7f;
    text-decoration:underline;
}
#billing .form-card .form-group label, input[type="radio"] + label.label-address{
    color:black;
}
#billing  .form-card .mandatory-form-card .form-group label{
    color:#7e7e7f;
}
#confirm{
   max-width: 1440px;
   margin-left: auto !important;
   margin-right: auto !important;
   background: #fff;
   padding-bottom: 40px;
}


#confirm-form {
    padding: 0 10% 0 40px;
    margin-top: 70px;
}
#confirm .order-summary h3, #confirm-form h3{
   
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
#confirm-form h3{
    color:black;
}
#confirm .info-body h3{
    display:inline-block;
    margin-top:5px;
    padding:0 9px 0 30px;
}
#confirm .info-body a{
    text-decoration:underline;
    color:#7e7e7f;
}

#choose-pay p{
    
}
#choose-pay span{
        margin-right: 5px;
    display:inline-block;
    width: 45px;
    height: 30px;
}
#choose-pay #visa{
    background: url('/images/visa_icon.png') 0 0 no-repeat;
    
}
#choose-pay #mastercard{
    background: url('/images/mastercard_icon.png') 0 0 no-repeat;
}
#choose-pay #a-express{
    background: url('/images/AExpress_icon.png') 0 0 no-repeat;
}
#choose-pay #discover{
    background: url('/images/discover_icon.png') 0 0 no-repeat;
}
#choose-pay #paypal{
    background: url('/images/paypal_icon.png') 0 0 no-repeat;
}
#info-card-pay{
    padding-left:40px;
}
#card-info{
        padding-bottom: 24px;
}
#get-promo-code{
    margin-top:50px;
    margin-bottom:80px;
}
.info-body .address-card h5{
    color:black;
}
#confirm-form .info-body .btn {
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1.6px;
    border-radius: 0;
    background-color: #333d48;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
/******************************************************************/
.text-row p {
    font-weight: 200;
    max-width: 700px;
    margin: auto;
}
.text-big-row{
    text-align: center;
    margin: 80px 0;
}
.text-big-row p {
    font-weight: 200;
    max-width: 80%;
    margin: auto;
}
.text-big-row h2{
   font-weight: 400;
    max-width: 65%;
    margin: auto;
     margin-bottom: 70px;
}
.profile-photos .padding-for-img{
   padding-right: 15px !important;
    padding-left: 15px !important;
}

/*******************************************************/
.lookbook-row div .row{
    margin:0 !important;
    padding: 0 !important;
}
.lookbook-row div .row div{
    padding: 0;
}
.lookbook-row .wrap-for-img{
    padding: 3px !important;
}
.lookbook-row .padding-small-for-img{
    padding: 0 !important;
}
.lookbook-row{
    margin: 0;
}
.container-fluid .lookbook-row:first-child{
    margin-top: 200px;
} 
@media (max-width: 1140px){
.lookbook-row .padding-small-for-img{
    padding:0 12px  !important;

}}
@media  (max-width:767px) {
    .text-row p {
         max-width: 90%;
    }
}
/********************************************************/
#success p, #fail p{
    width:80%;
    max-width: 80%;
    
}
#success .thank-you-col h1, #fail .thank-you-col h1{
    font-size: 36px;
    color:black;
    margin-bottom: 50px;
    margin-top:45px;
}
#fail .thank-you-col h1{
    color:red;
}
#success .thank-you-col p, #fail .thank-you-col p{
    font-size:18px;
    font-weight: 400;
}
#success .check-order p:first-of-type, #fail .check-order p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
#success .check-order p:last-of-type{
    color:#7e7e7f;
}
#success a, #fail a{
    text-transform: uppercase;
}
#success .thank-you-col, #fail .thank-you-col{
    padding-bottom:80px;
}
#success .check-order, #fail .check-order{
    margin-bottom: 60px;
}
#success .contact-info p, #fail .contact-info p{
    width:50%;
    
}
#success .contact-info p:first-of-type, #fail .contact-info p:first-of-type{
    padding-top: 50px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #4a4a4a;
}
#success .contact-info, #fail .contact-info{
    margin-bottom: 80px;
}
@media  (max-width:767px) {
    #success .contact-info p, #fail .contact-info p{
    width:80%;
    
}
}
/***********************************************************************************/
.decsription .info-holder .desk p {
    padding:0;
}
.decsription .info-holder div.desk{
    padding: 30px 0;
}
/**********************************************************************************/
#cover{
    width:100%;
    height:405px;
    background-position: 50%;
    background-size: cover;
}
/*************************************************************************************/
.carousel-inner>.item>img{
        max-height: 60vh !important;
        height: auto !important;
}
.carousel-inner>.item {
    height: 60vh !important;
    line-height: 60vh !important;
}
.carousel-inner {

    min-height: 60vh !important;
   
}
.carousel-holder{
    margin-bottom:20px;
}
/**********************************************************/
.navbar-collapse{
    padding:0;
}
#atisans-h1{
    font-size:14px;
    font-weight:400;
}
