.footersocial {
    text-align: left;
    max-width: 105px;
}
@media (min-width:941px) {
    .coll-items .composite .part-1 {
        height: 573px !important;
    }
    .coll-items .composite .part-1 img {
        height: 573px !important;
        margin-top: 0 !important;
        width: 351px !important;
    }
}

@media (max-width:940px) {
    .coll-items .big{
        height: 540px !important;
    }
    .coll-items .composite .part-1{
        height: 300px !important;
    }
    .coll-items .composite .part-1 img {
        margin-top: 0;
    }
    .coll-items .composite .part-1 {
        height: 290px !important;
        border-bottom: 4px solid #fff;
    }
    .coll-items .composite .part-2 img {
        margin-top: 15px;
        margin-bottom: 0;
        width: 70%;
    }
    .coll-items .big, .coll-items .composite {
        height: 540px !important;
    }
    header .navbar .navbar-nav li a {
        padding-right: 10px;
    }
}

@media (max-width:767px) {
    .mobheader .slidelogo {
        width: 100% !important;
    }
    .mobmenu{
        margin-top: 10px !important;
    }
    .moblogo {
        width: 42% !important;
    }
    .mobilerigthlink{
        width: 22% !important;
        margin-top: 4px !important;
    }
    .part-2 .main-item-2{
        height: 940px;
    }
    .main-item-4 .link-to-all a, .main-item-2 .link-to-all a{
        display: inline-block;
        font-size: 25px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        background: #000;
        color: #fff;
        width: 290px;
        height: 88px;
        line-height: 88px;
        text-align: center;
    }

    .part-2 .main-item-2 h2, .part-4 .main-item-4 h2 {
        font-size: 25px;
        letter-spacing: 3px;
    }
    .main-item-2 .desc, .main-item-4 .desc {
        font-size: 15px;
        letter-spacing: 0.9px;
        color: #9b9b9b;
        margin-top: 40px;
        font-weight: 200;
    }
    .part-2 .main-item-2 .roman, .part-4 .main-item-4 .roman {
        font-size: 11.5px;
        letter-spacing: 1.35px;
        margin-bottom: 23px;
    }
    .head-part .link-to-all a {
        width: 190px !important;
        font-weight: 500;
        height: 60px !important;
        line-height: 55px !important;
    }
    .head-part .mini-text {
        font-size: 12px !important;
        letter-spacing: 1.3px;
        margin-top: 60% !important;
        font-weight: 500;
        margin-bottom: 0 !important;
    }
    .head-part h1 {
        font-size: 22px !important;
        font-weight: 500;
        letter-spacing: 1.3px;
        margin-top: 0 !important;
        margin-bottom: 30% !important;
        max-width: 300px !important;
        line-height: normal !important;
    }
    .navbar-collapse ul li ul li:first-child{
        display: none;
    }
    .head-part .bag-btn {
        display: inline !important;
        margin-right: -10px !important;
    }
    .slidemenumain{
        overflow: hidden;
    }
    .slidemenu .navbar-nav li a {
        color: #464646;
        text-transform: uppercase;
        font-size: 14px !important;
        font-weight: 400;
        letter-spacing: 1.5px;
        position: relative;
        background: none !important;
        line-height: 45px !important;
    }
    /*.top-right .bag-btn {
        display: inline;
    }*/
    .top-right {
        text-align: right;
        margin-right: 0;
        margin-top: 2px;
    }
    header .navbar {
        margin-top: 0;
        margin-bottom: 0;
    }
    .slidemenumain .moblogo .logo{
        margin-top: 0;
    }
    .head-part .mobmenu{
        margin-left: 0;
    }
    .footersocial {
        text-align: center;
        max-width: 105px;
    }
    .coll-items div:first-child {
        width: 100% !important;
    }
    .slidemenumain .mobheader {
        margin-bottom: 0;
        border: none;
    }
    .carousel-inner {
        height: auto;
        min-height: 353px !important;
        margin-top: 0;
    }
    .coll-items .big{
        padding-left: 0;
        padding-right: 0;
        height: 470px !important;
    }
    .coll-items .big img{
        display: inline-block;
        float: left;
        margin-left: 0;
        height: 100%;
    }
    .coll-items .composite .part-1{
        height: 300px !important;
    }
    .coll-items .composite .part-1 img{
        max-height: 100%;
        float: right;
        display: inline-block;
        margin-left: 50px;
        max-height: 100% !important;
        margin-top: 0;
    }
    .coll-items .big .text-holder{
        height: 100%;
        display: table;
    }
    header .navbar-toggle, .head-part header .navbar-toggle {
        background: none;
        float: left;
        margin-left: 0;
    }
    header .navbar .navbar-collapse .navbar-nav {
        display: block !important;
        float: left !important;
        padding-left: 10px;
    }
    #main-big-menu .head-part .bag-btn {
        display: block;
        visibility: hidden;
    }
    .info-holder {
        max-width: 700px;
        width: 100% !important;
    }
    .title-card {
        background-color: #d8d8d8;
        height: 120px;
        padding: 25px 10%;
    }
    .title-card a {
        color: #4a4a4a;
        font-size: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 10px;
    }
    #shipping-info, #billing-info {
        padding: 0 5%;
        margin-top: 120px;
    }
    
    .foot-nav div div {
        margin: 0;
    }
    .coll-items .composite {
        height: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
}

.catalog{
    margin: 15px 0 15px 0;
}

.bg-fuid {
    background: #fff;
    margin-top: 0;
}
.bg-fuid .profile-photos{
    padding-bottom: 0;
}

.bg-fuid .row {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 45px;
    background: #f5f5f5;
    margin-right: 0 !important;
    margin-left: 0!important;
}

.catalog {
    background: #f5f5f5 !important;
}
.decsription div {
    background: #f5f5f5 !important;
}
.carousel-inner{
    height: auto;
    min-height: 300px;
}
.coll-items div:first-child {
    height: 90vh !important;
}

.coll-items div:first-child {
    height: 90vh !important;
    display: table;
    vertical-align: middle;
}
.coll-items div:first-child .table-in{
    display: table-cell;
    height: 100% !important;
}
.coll-items .big, .coll-items .composite {
    height: 960px;
    padding-left: 0;
    padding-right: 0;
}
.f-right {
    visibility: hidden;
}
.info-link {
    visibility: hidden;
}
.carousel-inner>.item>img {
    display: inline;
    max-width: 100%;
    max-height: 553px;
}

.product-row {
    margin-top: 0;
    margin-bottom: 30px;
}
.carousel-inner {
    height: auto;
    min-height: 553px;
    margin-top: 0;
}

.round-button {
    width: 20px;
    height: 20px;
    border: 1px solid #d8d8d8;
}

.active-round::after, .round-button:hover::after {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #000000;
    left: 0;
    bottom: -10px;
}

.head-block h1 {
    margin-top: 0;
}

footer div form .btn {
    margin-top: 0;
}
.artisans-row .artisan {
    height: 730px;
}
.decsription div h2 {
    padding: 30px 0;
    font-size: 13px;
}

.decsription div p {
    font-weight: 200;
    line-height: 2;
    font-size: 11px;
    letter-spacing: 0.2px;
}
.carousel-inner>.item {
    height: 553px;
    line-height: 553px;
}

.footersocial {
    max-width: 120px;
}

footer div div p:nth-child(1) {
    font-weight: 200;
}
.carousel-inner>.item>img{
    max-height: 60vh !important;
    height: auto !important;
}
.carousel-inner>.item {
    height: 60vh !important;
    line-height: 60vh !important;
}
.carousel-inner {

    min-height: 60vh !important;

}
.carousel-holder{
    margin-bottom:20px;
}



.welcome p:first-child {
    font-size: 25px;
    padding: 0 5px;
}

.welcome {
    text-align: center;
    margin: 20px 0 0 0;
}
.welcome p:last-child {
    font-style: normal;
    font-size: 30px;
}

.artisans-row .artisan p.place {
    font-size: 15px;
    letter-spacing:1px;
    font-Weight:500;
}

.artisans-row .artisan .a-desc {
    font-size: 11px;
}

.artisans-row .artisan a.ws-link {
    font-size: 10px;
}

.artisans-row .artisan p.name {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
.prpl-h2{
    font-size: 14px;
    margin-bottom: 15px !important;
}
#slider5 .viewport .overview li:nth-child(16){
    display: none;
}

.head-part .link-to-all a {
    width: 290px;
    font-weight: 500;
}

.head-part .mini-text {
    font-size: 15px;
    letter-spacing: 1.3px;
    margin-top: 125px;
    font-weight: 500;
    margin-bottom: 0;
}


/*footer .no-padding{
    display:none;
}*/

.head-part h1 {
    font-size: 34px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 4;
}
.head-part .link-to-all a {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    border: 3px solid #fff;
    width: 210px;
    height: 68px;
    line-height: 65px;
    text-align: center;
}
footer div div p:nth-child(1) {
    font-weight: 400;
}

.main-item-5 h2 {
    max-width: 700px;
    display: inline-block;
    letter-spacing: 4.7px;
    color: #fff;
    font-size: 32px;
}
.main-item-5 p {
    font-size: 15px !important;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    line-height: 50px;
}
.main-item-5 p a {
    height: 50px;
}
.tocart-holder{
    position: relative;
}
.buy-warning{
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 9px;
    font-weight: 200;
    color: red;
}

@media (max-width: 767px) {

.head-part {
    /* height: 460px; */
}

    .slidemenu .navbar-nav li a {
        line-height: 20px !important;
    }
    .head-part .mini-text {
    margin-top: 27% !important;
    margin-bottom: 4px !important;
}
    .head-part h1 {
    margin-bottom: 17% !important;
    letter-spacing: 3px;
    line-height: 27px !important;
}
.head-part .link-to-all a {
    border: 2px solid #fff;
}
.part-2 .main-item-2 h2, .part-4 .main-item-4 h2 {
    font-size: 29px;
    letter-spacing: 3px;
    font-weight: normal;
    margin-bottom: 0px;
}
.part-2 .main-item-2 {
    height: 940px;
    margin-top: 0px;
    padding-top: 26px;
}
.main-item-2 .desc, .main-item-4 .desc {
    font-size: 20px;
    letter-spacing: 0.9px;
    color: #9b9b9b;
    margin-top: 40px;
    font-weight: 200;
}
.main-item-4 .link-to-all a, .main-item-2 .link-to-all a {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    width: 190px;
    height: 60px;
    line-height: 61px;
    text-align: center;
}
.main-item-2 .link-to-all {
    margin-bottom: 0px;
    margin-top: 30px;
}
.part-2 .main-item-2 {
    height: 680px;
    margin-top: 0px;
    padding-top: 26px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
}
.part-4 .main-item-4 {
    padding-top: 80px;
    background: #F5F6F8;
    margin-top: 7.5px !important;
    margin-bottom: 7.5px;
    padding-bottom: 1px;
    margin-left: -15px;
    margin-right: -15px;
}
.part-4 .main-item-4 {
    height: 573px;
}
.part-5 .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.main-item-5 h2 {
    max-width: 700px;
    display: inline-block;
    letter-spacing: 3px;
    color: #fff;
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 0px;
}
.main-item-5 p {
    font-size: 11px !important;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    line-height: 22px;
}
.main-item-5 p a {
    height: 48px;
    width: 190px;
    line-height: 48px;
}
.main-item-5 {
    padding-top: 150px;
}
.part-5 .row {
    min-height: 470px;
    height: 470px;
}
.footersocial {
    max-width: 100%;
    margin-top: 55px !important;
    margin-bottom: 43px !important;
}
footer div div p:nth-child(1) {
    margin-bottom: 0px;
}
footer div form .form-control {
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
}
::-webkit-input-placeholder {
   color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}

:-ms-input-placeholder {  
   color: #ffffff;  
}
footer .bottom-menu li, footer .bottom-menu li a {
    padding: 0 5px;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
}
.mobilerigthlink {
    float: right;
    }
    .slidemenumain {
    
    background: #F5F6F8 !important;
}
.slidemenumain .nav > li {
    position: relative;
    display: block;
    margin: 21px 0px;
}
.slidemenumain .navbar-nav li ul li {
    margin: 21px 0px !important;
}
.maindiv.mainbigt {
    overflow: hidden !important;
    height: 100% !important;
    position: absolute !important;
    background: #ffffff !important;
}






}

