@media (max-width: 767px){
    html, body {
    min-height: 100%;
        height: auto;
}
    .big-navbar{
        display:none;
    }
   .footersocial {
     max-width: 100%;
     margin-top: 40px !important;
}
.mobmenu {
        float: left;
    width: 31%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 7px;
    margin-left: 7px;
    padding: 0 10px;
}
.mobmenu .fa{
    font-size: 20px;
}
.moblogo{
    float: left;
    width: 33%;
    text-align: center;
    cursor: pointer;
}
.mobilerigthlink{
        float: left;
    width: 33%;
    text-align: right;
   
}
.moblogo .logo{
    margin-top:8px;
}
.slidelogo{
    width: 100%;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 37px;
}
.slidelogo a img{
          width: 35%;
}
.slidecross {
    float: right;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 22px;
    cursor: pointer;
}
header #navbar-hide{
    background: none;
    float: right;
    margin: 0 10px;
}
.top-right{
    padding: 3px 5px;
    height:24px;
}
.top-right .bag-btn {
    
}
.navbar-toggle i{
    font-size:20px;
    color:#979797;
}
.slidemenu .navbar-nav{
    width:100%;
    text-align: center;
    padding:0 10px;
    margin: 0;
}
.slidemenu{
    width: 100%;
    text-align: center;
    margin-bottom: 21px;
}

.slidemenu .navbar-nav li a, .slidemenu .navbar-nav li ul li span{
    margin: 0 !important;
    padding:0;
    line-height: 45px;
    font-size: 18px;
    text-transform: uppercase;
}
.slidemenu  .navbar-nav li ul, .head-part header .navbar .navbar-nav li ul{
    padding:0;
    list-style:none;
}

.slidemenu .navbar-nav a{
 line-height:38px;
}
.slidemenu .navbar-nav li ul li, .head-part header .navbar .navbar-nav li ul li {
     margin:0; 
}
.slidemenu .navbar-nav li a {
    color: #464646;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
    background: none !important;
    line-height: 45px;
}
.slidemenu .navbar-nav li ul li a{
        font-weight: 200;
}
.slidemenumain {
position: absolute;
    height: 100%;
    background: #ffffff;
    width: 100%;
    z-index: 99;
    left: -9999px;
    min-height: 521px;
    z-index: 1000;
}
.navbar-collapse{
    border:0px;
}
/*******************************************************************************************************/
#main-big-menu .navbar-nav li a, #main-big-menu .navbar-nav li ul li span{
 
   
}
#main-big-menu{
 
}
#main-big-menu .fa{
   
}
#main-big-menu .slidelogo {
    margin-bottom:0;
      margin-top:30px;
}
#main-big-menu .mobheader {
  
}
#main-big-menu .slidelogo a img {
    width: 28%;
}
/*******************************************************************************************************/
#help-info{
        width: 100vw;
        text-align:center;
         margin-top: 40px;
}
#row-for-footer{
    padding:0;
}
#access-main{
    text-align:center;
}
footer div form .form-control {
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
   
}
footer div form .btn {
    width: 100%;
    margin: 5px 0;
    height: 50px;
}
footer .bottom-menu{
    margin-top: 20px;
    padding:0;
}
#row-bottom-menu{
    padding:0;
}
footer .bottom-menu li, footer .bottom-menu li a {
    padding: 0 5px;
     font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
}
footer .bottom-menu li a {
    padding: 0;
}
footer div div p:nth-child(1) {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2.1px;
}
footer {
        padding: 20px 15px 20px 15px;
    }
footer p a, footer p a:hover, footer p {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1.7px;
}
.newsletter {
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 1.5px;
}
footer p a{
    line-height: 30px;
}
.footersocial .fa {
    font-size: 30px;
}
.footersocial a {
        font-size: 20px;
        margin-right: 7%;
        margin-left: 7%;
        color: #f4f4f4;
        display: inline-block;
        margin-bottom: 30px;
    }
    .foot-nav .col-xs-6{
        padding:0 ;
    }
/****************************************************************************************/
.head-part {
    height: 96vh;
    background: url("/images/IMAGE1-min.png")50% 50% no-repeat;
    background-size: cover;
}
.part-3 {
   
    background: url("/images/IMAGE2-min.png")50% 50% no-repeat;
    background-size: cover;
}
.part-5 .row {
     background: url("/images/IMAGE3-min.png")50% 50% no-repeat !important;
    background-size: cover;
   height: auto;
}

/**************************************************************************************/
}
@media (max-width: 567px){
    .newsletter {
    font-size: 16px;
    }
}
@media (max-width: 467px){
    .newsletter {
    font-size: 12px;
    }
}
@media (max-width: 367px){
    .newsletter {
    font-size: 10px;
    }
}

@media (min-width: 767px){
    .mobheader{
        display: none;
    }
    .slidemenumain{
        display:none;
    }
}

