body {
    /* padding-top: 70px;  /*Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
@font-face {
    font-family: 'GOTHAM';
    src: url('../frontend/web/fonts/GOTHAM-MEDIUM.eot');
    src: url('../frontend/web/fonts/GOTHAM-MEDIUM.eot?#iefix') format('embedded-opentype'), 
         url('../frontend/web/fonts/GothamMedium.woff') format('woff'),
         url('../frontend/web/fonts/GOTHAM-MEDIUM.TTF') format('truetype'),
         url('/frontend/web/fonts/GothamMedium.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GOTHAM';
    src: url('../frontend/web/fonts/GOTHAM-LIGHT.eot');
    src: url('../frontend/web/fonts/GOTHAM-LIGHT.eot?#iefix') format('embedded-opentype'), 
         url('../frontend/web/fonts/GothamLight.woff') format('woff'),
         url('../frontend/web/fonts/GOTHAM-LIGHT.TTF') format('truetype'),
         url('/frontend/web/fonts/GothamLight.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GOTHAM';
    src: url('../frontend/web/fonts/GOTHAM-BOLD.eot');
    src: url('../frontend/web/fonts/GOTHAM-BOLD.eot?#iefix') format('embedded-opentype'), 
         url('../frontend/web/fonts/GothamBold.woff') format('woff'),
         url('../frontend/web/fonts/GOTHAM-BOLD.TTF') format('truetype'),
         url('/frontend/web/fonts/GothamBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'GOTHAM';
    src: url('../frontend/web/fonts/GOTHAM-BLACK.eot');
    src: url('../frontend/web/fonts/GOTHAM-BLACK.eot?#iefix') format('embedded-opentype'), 
         url('../frontend/web/fonts/GothamBlack.woff') format('woff'),
         url('../frontend/web/fonts/GOTHAM-BLACK.TTF') format('truetype'),
         url('/frontend/web/fonts/GothamBlack.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'GOTHAM';
     src: url('../frontend/web/fonts/Gotham-Book.eot');
    src: url('../frontend/web/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), 
         url('../frontend/web/fonts/GothamBook.woff') format('woff'),
         url('../frontend/web/fonts/Gotham-Book.ttf') format('truetype'),
         url('/frontend/web/fonts/GothamBook.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}
*{
    font-family: 'GOTHAM' !important;
    color: #4a4a4a;
    letter-spacing: 1.3px;
    font-weight: 400;
}

/***** landing part ******/
html, body {
    height: 100%;
}
img{
    max-width: 100%;
}

.head-part{
    height: 100%;
    background: url("/images/main_1.png")50% 50% no-repeat;
    background-size: cover;
}

.head-part *{
    color: #fff !important;
}

.head-part .navbar .navbar-nav li a:hover,
.head-part .navbar .navbar-nav li a:active,
.head-part .navbar .navbar-nav li a:visited,
.head-part .navbar .navbar-nav li a:focus,
.head-part .navbar{
    background: none;
}

.head-part .bag-btn{
    background: url("/images/cart_icon_white.png")right 3px no-repeat !important;
}

.head-part{
    position: relative;
}

.head-part .ico-separ{
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
    display: block;
    height: 60px;
    width: 60px;
    background: url("/images/logo_icon_backgrnd.png") no-repeat;
}
.part-2{
    margin-top: 30px;
}
.part-2 .main-item-2 h2,
.part-4 .main-item-4 h2{
    font-size: 40px;
    letter-spacing: 4.7px;
}
.part-2 .main-item-2,
.part-4 .main-item-4{
    margin-top: 80px;
}

.part-2 .main-item-2 .roman,
.part-4 .main-item-4 .roman{
    font-size: 16px;
    letter-spacing: 1.85px;
    margin-bottom: 20px;
}

.main-item-2,
.main-item-4{
    text-align: center;
}

.part-3{
    height: 100%;
    /*background: url("/images/artisan_pic-min.png")50% 50% no-repeat;*/
    background-image: url("/images/artisan_pic-min.png")!important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position-x: 50% !important;
    background-color: #fff !important;
}
.part-4{
    background: #fff;
}
.part-5{
    background-color: #fff !important;
}

.footer-cont{
    background: #4a4a4a;
    margin-top: 0;
}

.head-part .mini-text{
    font-size: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}
.head-block h1{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: 400;
}
.head-part h1{
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
    text-align: center;
}
.main-item-2 .desc,
.main-item-4 .desc{
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #9b9b9b;
    margin-top: 40px;
    font-weight: 200;
}
.main-item-4 .link-to-all,
.main-item-2 .link-to-all{
    margin-bottom: 80px;
    margin-top: 30px;
}
.main-item-4 .link-to-all a,
.main-item-2 .link-to-all a,
.main-item-5 p a{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    width: 190px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.part-3{
    text-align: center;
    padding-top: 50px;
}
.part-3 img{
    display: inline-block;
    margin-top: 290px;
    margin-bottom: 30px;
}
.part-3 p{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    max-width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 32px;
}
.head-part .link-to-all{
    width: 100%;
    text-align: center;
}

.head-part .link-to-all a:hover,
.main-item-4 .link-to-all a:hover,
.main-item-2 .link-to-all a:hover,
.main-item-5 p a:hover{
    text-decoration: none;
}

.head-part .link-to-all a{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    border: 3px solid #fff;
    width: 290px;
    height: 80px;
    line-height: 75px;
    text-align: center;
}

.btn {
    font-weight: 200;
}
.dropdown-menu>li>a{
    font-weight: 200;
    font-size: 12px;
}

.main-item-5{
    text-align: right;
    padding-top: 280px;
}
.main-item-5 h2{
    max-width: 700px;
    display: inline-block;
    letter-spacing: 4.7px;
    color: #fff;
    font-size: 40px;
}

.main-item-5 p{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2.7px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.main-item-5 p a{
    background: #fff;
    color: #5c5a5b;
    font-size: 15px;
    letter-spacing: 1.6px;
    width: 240px;
}
/*************************/



/***** internal part ******/
header{
    padding-top: 10px;
    background: #fff;
}
.top-right a{
    color: #606060;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.12em;
    padding: 12px 10px;
}

.top-right .bag-btn{
    padding-right: 30px;
    background: url("../images/cart-icon.png") right 50% no-repeat;
}

.top-right{
    text-align: right;
    margin: 0 0 -25px;
    margin-right: 30px;
}

.no-padding{
    padding-right: 0;
    padding-left: 0;
}

.f-none{
    float: none !important;
}

.roman{
    font-family: Times New Roman !important;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
}

h2{
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: 600;
}
h1{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: 700;
}

header .navbar .navbar-nav li a:hover,
header .navbar {
    background: #fff;
}

header .navbar{
    margin-top: 20px;
    margin-bottom: 0;
}

header .navbar .logo, .mobheader .moblogo .logo{
    text-align: center;
}

header .navbar .logo a img{
    width: 170px;
}

header .navbar .navbar-collapse .navbar-nav{
    display: table;
    float: none;
    margin: 0 auto;
}
header .navbar .navbar-nav li a {
    color: #606060;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
    padding-right: 30px;
    background: none !important;
}


header .navbar .navbar-nav li ul,
.head-part header .navbar .navbar-nav li ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
    background: #fff;
    min-width: 220px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 999;
}
header .navbar .navbar-nav li ul{
    border-top: 1px solid #cdcdcd;
}
header .navbar .navbar-nav li ul li,
.head-part header .navbar .navbar-nav li ul li{
    margin: 10px 0;
}
header .navbar .navbar-nav li ul li span,
.head-part header .navbar .navbar-nav li ul li span{
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #4A4A4A !important;
    letter-spacing: 1.6px !important;
    text-transform: uppercase;
}
header .navbar .navbar-nav li ul li a,
.head-part header .navbar .navbar-nav li ul li a{
    color: #4a4a4a !important;
    font-weight: 200;
    font-size: 11px;
    letter-spacing: 1.3px;
    color: #4A4A4A;
    display: block;
    padding-left: 10px;
}
header .navbar .navbar-nav li ul::after,
.head-part header .navbar .navbar-nav li ul::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 23%;
    top: -20px; /* Положение треугольника */
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}
header .navbar .navbar-nav li ul::after{
    border-bottom: 10px solid #dbdbdb;
}

header .navbar .navbar-nav li:hover ul, /* Выводим выпадающий пункт при наведении курсора */
.head-part header .navbar .navbar-nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}



.slide-image {
    max-width: 100%;
}

.carousel-inner{
    margin-top: 30px;
}

.carousel-inner,
.carousel-inner>.active,
.carousel-inner>.item{
    height: 380px;
}
.carousel-inner,
.carousel-inner>.active,
.carousel-inner>.item{
    height: auto;
}
.product,
.product>.active,
.product>.item{
    height: 380px;
}


.carousel-inner>.item>img {
    display: inline;
    max-width: 100%;
    max-height: 300px;
}
.carousel-inner>.item .cat-item{
    display: inline;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
}

.carousel-inner>.item{
    text-align: center;
}

.carousel-control.right{

}
.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
    content: '';
}

.carousel-control.right,
.carousel-control.left{
    background: none;
}

.righticon,
.lefticon{
    height: 27px;
    width: 17px;
}

.lefticon {
    background: url("../images/arr-l.png") no-repeat;
}
.righticon {
    background: url("../images/arr-r.png") no-repeat;
}
.carousel-control,
.item {
    border-radius: 4px;
}

.catalog{
    background: #f5f6f8;
    padding: 50px 50px 150px 50px;
}

.catalog div .cat-tem{
    position: relative;
}

.catalog div .cat-tem .fast-view{
    position: absolute;
    top: 65%;
    left: 50%;
    border: 1px solid #9c9697;
    padding: 8px 30px 6px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #4a4a4a;
    font-weight: 600;
    text-transform: uppercase;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.catalog div .cat-tem a:hover{
    text-decoration: none;
}
.catalog div .cat-tem .fast-view,
.catalog div .cat-tem p{
    transition: opacity 0.3s ease-out;
    opacity: 0;
    letter-spacing: 0.1em;
}

.catalog div .cat-tem p{
    color: #4a4a4a;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
}

.catalog div .cat-tem:hover .fast-view,
.catalog div .cat-tem:hover p{
    opacity: 1;
    text-decoration: none;
}

.catalog,
.filters,
.video-wrap{
    margin: 30px 0 0;
}
.video-wrap{
    padding:0 20%;
}
.profile-photos{
    margin-bottom: 70px;
}
.profile-photos div{
    padding:3px;
}
.profile-photos div img{
    width:100%;
}
.profile-one-photo{
    margin-top:50px;
}
.profile-one-photo div img{
    display:block;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 100%;
}
.embed-responsive-item img{
    width:100%;
}
.text-row .title{
    padding-top: 45px;
}
.filters h1{
    float: left;
    margin: 8px 10px 4px 0;
    padding: 0 10px 0 0;
    /*border-right: 1px solid #606060;*/
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 400;
}

.f-right{
    float: right;
    background: none;
}

.btn .caret {
    margin-left: 5px;
}

.filters > .btn-group .btn-primary,
.filters .btn-primary,
.filters .open>.dropdown-toggle.btn-primary:focus,
.filters .open>.dropdown-toggle.btn-primary:hover,
.filters .btn-primary:focus,
.filters .btn-primary.focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary {
    background: none;
    border: none;
    color: #606060;
    border-radius: 0;
    font-size: 12px;
}

.dropdown-menu-right {
    right: 0 !important;
}

.catalog .thumbnail{
    border: none;
    background: none;
    text-align: center;
    margin: 20px 0 0 0;
}

.catalog .thumbnail{
    height: 350px;
}
.catalog .thumbnail>a{
    display: block;
}
.catalog .thumbnail>a img,
.catalog .thumbnail>img {
    width: 280px;
    /*height: 225px;*/
    max-height: 280px;
}

.catalog .head-2 h2,
.catalog .head-2 p{
    text-align: center;
}

.catalog .head-2 p{
    font-family: Times New Roman !important;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.12em;
}

.catalog .head-2 h2{
    margin-top: 80px;
}

.catalog .item:first-child .head-2 h2{
    margin-top: 0px;
}

footer {
    padding: 30px 40px 30px 40px;
    background: #4a4a4a;
    margin-top: 30px;
}



footer p {
    color: #f4f4f4;
    font-weight: 200;
    font-size: 12px;
    word-wrap: break-word;
}

footer p a{
    font-weight: 200;
}
footer p a,
footer p a:hover{
    color: #f4f4f4;
    text-decoration: none;
}

footer div div p:nth-child(1){
    margin-left: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.footersocial{
    text-align:center;
}

.social p a{
    /*color: rgba(255, 255, 255, 0.54);*/
    font-size: 15px;
    padding: 0px 8px;
}
.newsletter{
    letter-spacing: 0.95px;
}
footer div form .form-control{
    background: #4a4a4a;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 10px;
    height: 35px;
    display: inline-block;
    color: #f6f6f6;
    font-size: 12px;
}

footer div form .btn{
    background: #fff;
    border-radius: 0;
    height: 35px;
    display: inline-block;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.7px;
    margin-top: -1px;
    margin-left: -6px;
    text-align: center;
    border: none;
    padding-left: 5px;
    padding-right: 7px;
}

footer div form .form-control{
    width: 75%;
}
footer div form .btn{
    width: 24%;
}
footer .bottom-menu{
    width: 100%;
    text-align: center;
    margin-top: 50px;
        padding: 0;
}
footer .bottom-menu li{
    padding: 0 20px;
    text-transform: uppercase;
    padding: 10px;
}
footer .bottom-menu li,
footer .bottom-menu li a{
    display: inline;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}
footer .bottom-menu li a {
    text-transform: none;
}
/*********** product ***********/

.product-row{
    margin-top: 100px;
    margin-bottom: 30px;
}

.product-row .head-block p:last-child{
    font-size: 25px;
    font-weight: 200;
}

.var-block .color{
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.var-block .color p{
    display: table-cell;
    text-align: center;
}

.round-button{
    display: inline-block;
    width:35px;
    height:35px;
    margin: 0 10px;
    line-height:30px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
}

.active-round::after,
.round-button:hover::after{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #000000;
    /*left: 3px;*/
    bottom: -10px;
}

.var-block .size ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
.var-block .size li{
    list-style-type: none;
    display: inline-block;
    width:20px;
    height:20px;
    line-height:20px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

.var-block a:last-child{
    color: #9d9d9d;
}
.info-link{
    margin-top: 20px;
    font-weight: 400;
}
.var-block a:last-child:hover{
    text-decoration: none;
}

.active-size::after,
.var-block .size li:hover::after{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 17px;
    background-color: #000000;
    left: 0;
    bottom: -2px;
}
.var-block p:last-child{
    text-align: center;
}

.to-cart p span{
    display: inline-block;
    background: #333d48;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 40px;
    font-weight: 400;
    cursor: pointer;
}
.to-cart p a{
    padding-left: 30px;
    background: url("../images/mail-to.png") left no-repeat;
    color: #9d9d9d;
}
.to-cart p a:hover{
    text-decoration: none;
}
.decsription div{
    text-align: center;
}

.decsription div h2,
.decsription div p{
    max-width: 490px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.decsription div p{
    font-weight: 200;
}

.decsription div h2{
    padding: 30px 0;
}

.product-photos div{
    padding: 0;
    border: 5px solid #fff;
}
.product-photos{
    margin-top: 50px;
}
.product-photos div img{
    width: 100%;
}
.to-cart .tocart-holder{
    width: 190px;
    float: right;
}
.to-cart .tocart-holder .share-links{
    margin-top: 20px;
}

.product-crman .product-crman-holder{
    text-align: center;
    margin-top: 75px;
}
.text-row .title{
    padding-top: 45px;
}
.text-row{
       text-align: center;
       margin-bottom: 45px;
}
.text-row div .desc{
        max-width: 720px;
        margin: 0 auto;
        margin-top: 40px;
}
.product-crman .product-crman-holder a{
    font-size: 16px;
    font-weight: 200;
}
.product-crman .product-crman-holder a span{
    color: #337ab7;
    padding-left: 5px;
    text-decoration: none;
}
.product-crman .product-crman-holder a,
.product-crman .product-crman-holder img{
    display: block;
}
.product-crman .product-crman-holder img{
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 50px;
    max-width: 100%;
}

.product-crman .product-crman-holder .title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.product-crman .product-crman-holder .title span, .head-2 .title span{
    padding: 0 5px;
}

/*-----------------------------------------------*/
#shippng-form, #billing-form{
        padding: 0 10% 0 40px;
        margin-top:70px;
        
}
#shippng-form .form-title h3, #shippng .order-summary h3, #billing-form .form-title h3, #billing .order-summary h3{
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
#shippng-form .form-group label, #billing-form .form-group label{
    font-size: 10px;
    letter-spacing: 1.2px;
}
#shippng-form .field-shipping-address2 label{
    display:none;
}

.title-card a{
    color: #4a4a4a;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
#shippng-form .form-group input, #billing-form .form-group input{
    border-radius: 0;
    background-color: #f4f4f4;
}
#shippng-form .form-group .btn, #billing-form .form-group .btn{
    font-size:15px;
    letter-spacing: 1.6px;

    border-radius:0;
    background-color: #333d48;
    color:white;
    padding:10px;
    text-transform:uppercase;
}
#shippng-form .form-title, #billing-form .form-title{
    margin-bottom: 20px;
}
.title-card .active{
    text-decoration:underline;
}
.order-summary{
    margin-bottom: 40px;
}
.order-summary-row{
    padding: 15px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #d8d8d8;
}
.order-summary-row div p{
    
    font-size:11px;
    letter-spacing: 1px;
}
.order-summary-row div img{
    width: 100%;
}
.order-summary-row .col-md-7 p span{
    margin: 0 0 0 5px;
}
.order-summary-row  .col-md-7{
    padding:5%;
}
.order-summary-row .row-val p{
    text-align: right;
}
#shipping-info, #billing-info{
    padding:0 5%;
    margin-top:70px;
}
/****** media *******/
@media (max-width:1140px) {
    .art-slider{
        width: 205px !important;
        margin: 0 auto;
    }
    .art-slider .viewport {
        width: 160px !important;
    }
    .no-padding {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 1390px) {
    .head-part {
        height: 75vh !important;
    }
    .row {
        margin-right: -22.5px !important;
        margin-left: -22.5px !important;
    }
    .part-3 {
        text-align: center;
        padding-top: 50px;
        height: 922px;
    }
    .part-3 img {
        display: inline-block;
        margin-top: 520px;
        margin-bottom: 30px;
    }
}

.part-3 p {
    font-weight: 200;
}
@media (max-width:955px) {
    /*.catalog div .cat-tem a {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        opacity: 1;
    }*/
    .catalog div .cat-tem p{
        opacity: 1;
    }
    /*.catalog div .artisan a {
        position: inherit;
        width: auto;
        opacity: 1;
    }*/
    .art-slider{
        width: 205px !important;
        margin: 0 auto;
    }
    .art-slider .viewport {
        width: 160px !important;
    }
}
@media (max-width:767px) {

    /*.catalog div .cat-tem a {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 40%;
        opacity: 1;
    }*/
    .main-item-5{
        text-align: right;
        padding-top: 180px;
    }
    .part-3 img {
        display: inline-block;
        margin-top: 220px;
        margin-bottom: 30px;
    }
    .head-part .bag-btn{
        display: none;
    }
    .top-right{
        margin-bottom: -25px !important;
    }
    .catalog div .cat-tem p{
        opacity: 1;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px 0 0;
    }
    .head-part  header .navbar .navbar-header{
        background: none;
        margin: -55px 0 0 0;
    }
     header .navbar-toggle,
    .head-part  header .navbar-toggle{
        background: none;
        float: left;
        margin-left: -20px;
    }
    .head-part .navbar-toggle .icon-bar {
        background: #ffffff !important;
    }
    .navbar-toggle .icon-bar{
        background: #464646 !important;
    }
    header .navbar .navbar-header,
    .head-part  header .navbar .navbar-header{
        background: none;
        margin: -55px 0 0 0;
    }


    header .navbar .navbar-collapse .navbar-nav{
        display: block !important;
        float: left !important;
    }

    .navbar-toggle {
        background: #656565;
    }

    .navbar-toggle .icon-bar {
        background: #e4e4e4;
    }
    .head-block{
        text-align: center;
    }
    .product-row{
        margin-top: 30px;
    }
    .tocart-holder{
        float: none !important;
        width: 100% !important;
    }
    .tocart-holder{
        text-align: center;
    }
    header .navbar .navbar-nav li ul,
    .head-part header .navbar .navbar-nav li ul{
        position:relative;
        left:0; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
        opacity:1; /* Устанавливаем начальное состояние прозрачности */
        background: none;
        min-width: 220px;
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
    }
    .head-part header .navbar .navbar-nav a,
    .head-part header .navbar .navbar-nav li ul li span,
    .head-part header .navbar .navbar-nav li ul li a,
    header .navbar .navbar-nav a,
    header .navbar .navbar-nav li ul li span,
    header .navbar .navbar-nav li ul li a{
        font-size: 14px !important;
        color: #fff !important;
        display: block;
        margin-bottom: 22px;
    }
    header .navbar .navbar-nav a,
    header .navbar .navbar-nav li ul li span,
    header .navbar .navbar-nav li ul li a{
        color: #464646 !important;
    }
     header .navbar .navbar-nav li ul::after,
    .head-part header .navbar .navbar-nav li ul::after{
        content: none;
    }
}
@media (max-width: 567px) {
    .artisans-row .artisan {
        height: 670px !important;
    }
    .top-right{
        text-align: right;
        margin: 0 0 10px;
        margin-right: 10px;
    }
   

    .f-right{
        /*float: none;
        background: none;
        display: inline;*/
    }

    .btn {
        padding: 6px 8px;
    }

    .catalog div .cat-tem p{
        opacity: 1;
    }

    /*.catalog div .cat-tem a {
        position: absolute;
        top: 75%;
        left: 50%;
        opacity: 1;
        width: 40%;
    }*/

    .catalog .cat-tem{
        border: none;
        background: none;
        text-align: center;
        margin: 50px 0 20px 0;
    }

}
@media (max-width: 359px) {

    footer {
        padding: 20px 15px 20px 15px;
    }

    .f-right{
        /*float: none;
        background: none;
        display: inline;*/
    }

    .btn {
        padding: 6px 3px;
    }

    .filters h1 {
        margin: 8px 2px 4px 0;
        padding-right: 4px;

    }

    .btn .caret {
        margin-left: 3px;
    }

    /*.catalog div .cat-tem a {
        position: absolute;
        top: 40%;
        left: 50%;
        opacity: 1;
        width: 100%;
    }*/
}
.artisans-row .artisan{
    height: 790px;
    max-width: 350px;
    /*margin-bottom: 100px;*/
    margin-left: auto;
    margin-right: auto;
}

.artisans-row .artisan .a-desc {
    font-weight: 200;
    min-height: 40px;
}
.artisans-row .artisan img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
.artisans-row .artisan p.name{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
}
.artisans-row .artisan p.place{
    font-weight: 600;
    margin-bottom: 20px;
}

.artisans-row .artisan a.ws-link{
    display: inline-block;
    color: #8d5933;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    position: inherit;
    width: auto;
    opacity: 1;
}
.artisans-row .artisan .ws-link span{
    text-transform: uppercase;
    padding-left: 5px;
    color: #8d5933;
}
.artisans-row .artisan .ws-link:hover{
    text-decoration: none;
}

.art-carousel-holder{
    border-top: 2px solid #c7c7c8;
}

.welcome{
    text-align: center;
    margin: 20px 0 50px 0;
}
.welcome p:first-child{
    font-size: 25px;
    padding: 0 5px;
    letter-spacing: 0;
}
.welcome p:last-child{
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0;
}
.artisans-row .artisan p.place {
    font-family: Times New Roman !important;
    font-size: 15px;
    letter-spacing: 1px;
    font-Weight: 500;
    
}
/* Tiny Carousel */
.art-slider {
    height: 1%;
    overflow: hidden;
    position: relative;
    padding: 0 25px;
    /*width: 372px;*/
    width: 100%;
    margin-top: 25px;
}

.art-slider .viewport {
    height: 160px;
    position: relative;
    /*width: 320px;*/
    width: 99%;
    overflow: hidden;
}

.art-slider .buttons {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    width: 20px;
    height: 25px;
    background: url("../images/arr-l-min.png");
    z-index: 999;
}

.art-slider .next {
    right: 0;
    left: auto;
    top: 40%;
    background: url("../images/arr-r-min.png");
}

.art-slider .buttons:hover {

}

.art-slider .disable {
    visibility: hidden;
}

.art-slider .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.art-slider .overview li {
    float: left;
    max-height: 160px;
    width: 160px;
}
.single{
   text-align: center;
   margin-top: 25px;
}

.single a img,
.art-slider .overview li img{
    height: 130px;
    max-width: 160px;
}
/************ collection ***************/
.coll-items{
    padding: 5px;
}
.coll-items div{
    background: #f5f6f8;
}
.coll-items>div{
    text-align: center;
    border: 2px solid #fff;
    padding-top: 20px;
}
.coll-items>div:first-child{
    padding-top: 60px;
    padding-bottom: 60px;
}
.coll-items>div:last-child{
    padding-top: 60px;
    padding-bottom: 60px;
}
.coll-items>div:last-child h2{
    margin-top: 60px;
    margin-top: 40px;
}
.coll-items .composite .part-2{
    padding-top: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.coll-items .big,
.coll-items .composite{
    max-height: 960px;
    padding-left: 0;
    padding-right: 0;
}

.coll-items .big img,
.coll-items .composite .part-1 img{
    display: inline-block;
    float: left;
    margin-left: 50px;
    max-height: 100%;
}
.coll-items .composite .part-1 img{
    display: inline-block;
    float: left;
    margin-left: 50px;
    max-height: 100%;
    margin-top: 12px;
}
.coll-items .composite .part-2 img{
    margin-top: 70px;
    margin-bottom: 30px;
}
.coll-items .composite .part-1{
    height: 590px !important;
    border-bottom: 4px solid #fff;
}
.coll-items .big .text-holder,
.coll-items .composite .part-1 .text-holder{
    height: 100%;
    display: table;
}

.coll-items .big .text-holder div,
.coll-items .composite .part-1 .text-holder div{
    height: 100% !important;
    display: table-cell;
    vertical-align: middle;
}
.coll-items .big .text-holder div h2,
.coll-items .composite .part-1 .text-holder div h2,
.coll-items .composite .part-1 .text-holder div a,
.coll-items .big .text-holder div a{
    display: inline-block;
    width: 100%;
}
.coll-items h2,
.coll-items .big .text-holder div h2,
.coll-items .composite .part-1 .text-holder div h2{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.coll-items a,
.coll-items .big .text-holder div a,
.coll-items .composite .part-1 .text-holder div a{
    font-size: 12px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 200;
    letter-spacing: 1.4px;
}
a span{
    padding-left: 5px;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.coll-items a:hover,
.coll-items .big .text-holder div a:hover,
.coll-items .composite .part-1 .text-holder div :hover{
    text-decoration: none;
}
.container-fluid {
    max-width: 1440px;
    background: #fff;
}
/***************************************/
.catalog-cover{
    width: 100%;
}
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}
.catalog {
    background: #EFEFEF;
}
.footer-cont{
    background: #4a4a4a;
}

.filters h1 {
     margin: 8px 10px 4px 10px;
}
.head-part {
    height: 96vh;
    background: url("/images/main_1.png")50% 50% no-repeat;
    background-size: cover;
}
.head-part .ico-separ {
    z-index: 998;
}
.part-2 .main-item-2, .part-4 .main-item-4 {
    padding-top: 80px;
    background: #F5F6F8;
    margin-top: -22.5px;
    margin-bottom: 7.5px;
    padding-bottom: 10px;
}

.part-4 .main-item-4 {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.head-part .link-to-all a {
    width: 190px;
    height: 80px;
}
.head-part .ico-separ {
    z-index: 998;
}
.part-2 .main-item-2, .part-4 .main-item-4 {
    padding-top: 80px;
    background: #F5F6F8;
    margin-top: -22.5px;
    margin-bottom: 7.5px;
    padding-bottom: 10px;
}

.part-4 .main-item-4 {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.part-2 {
    margin-top: 0;
    background: #fff;
}
.main-item-2 img {
    max-width: 100%;
    width: 352px;
    padding-top: 30px;
}
.part-2 .main-item-2, .part-4 .main-item-4 {
    padding-top: 80px;
    background: #F5F6F8;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    padding-bottom: 1px;
    height: 780px;
}
.part-4 .main-item-4 {
    padding-top: 80px;
    background: #F5F6F8;
    margin-top: 7.5px !important;
    margin-bottom: 7.5px;
    padding-bottom: 1px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.part-4 .main-item-4 img{
    margin-top: 40px;
    margin-bottom: 40px;
}
.decsription div {
    text-align: center;
    background: #EFEFEF;
}
.product-photos {
    margin-top: 0;
}
.artisans-row .artisan a.ws-link {
    min-height: 39px;
}
.bg-fuid {
    background: #EFEFEF;
    margin-top: 20px;
}

.part-5 {
    height: auto !important;
    background: none;
}
.part-5 .row {
    background-image: url("/images/bottom_pic-min.png")!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-x: 50% !important;
    min-height: 700px;
    height: 950px;
    margin-bottom: 7.5px;
    margin-left: -7.5px !important;
    margin-right: -7.5px !important;
}
.main-item-5 {
    padding-top: 320px;
}
.part-2 .main-item-2{
    margin-bottom: 7.5px;
    padding-bottom: 15px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.coll-items div:first-child{
    height: 100vh !important;
}

.text-row .title {
    font-weight: 400;
    text-transform: uppercase;
}

.text-row p{
    font-weight: 200;
    width: 700px;
    margin: auto;
}

.part-3 {
    text-align: center;
    padding-top: 50px;
    height: 800px;
}

.part-3 img {
    display: inline-block;
    margin-top: 420px;
    margin-bottom: 30px;
}
.artisans-row .artisan .a-desc {
    font-weight: 200;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

body {
    background-color: #EFEFEF;
}

.wrap{
    max-width: 1440px;
    margin: 0 auto;
}

.head-part header{
    background: none;
}

.product-crman .product-crman-holder a{
    display: block;
    margin-bottom: 90px;
}

.info-holder{
    width: 700px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-bottom: 1px solid #A7A7A7;
}
.info-holder h2{
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}
.info-holder p{
    text-align: left;
}

.decsription .info-holder:first-child{
    margin-top: 20px;
}
.decsription .info-holder:last-child{
    border: none;
}

.title-card{
    text-align:center;
    background-color:  #d8d8d8;
    height: 90px;
    padding: 35px 10%;
    max-width: 1440px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.fa{
    font-family: 'FontAwesome' !important;
    color: inherit;
}
.footersocial a{
   font-size: 20px;
   margin-right: 20px;
       color: #f4f4f4;
}
.footersocial a:nth-of-type(n+3){
    margin-top: 10px;
    display: inline-block;
}
/*Style modal confirm to card*/
.modal-dialog{
    margin-top: 200px;
}
.modal-content {
    background-color: #EFEFEF;
    border-radius: 0;
}
.modal-header {
    border-bottom: 0;
    padding-left: 30px;
    padding-bottom: 0;
}
.modal-footer{
    border-top: 0;
    padding: 20px 30px 20px;
}
.modal-header .close, .modal-footer .btn.to-card{
    color: #fff;
    background-color: rgb(51, 61, 72);
    opacity: 1;
}
.modal-header .close{
    padding: 3px 5px 6px 6px;
    text-align: center;
    line-height: 18px;
}
.modal-body{
    padding: 0 30px;
}
.modal-body p{
    text-transform: uppercase;
}
.modal-footer .btn{
    border-radius: 0;
    background-color: initial;
        font-weight: 400;
        border: 0;
        text-transform: uppercase;
        padding: 12px 40px;
        margin: 0 auto;
        display: block;
}
.modal-footer button.btn{
    width: 100%;
    margin-top: 15px;
}
.modal-footer .btn:focus{
    border: 0;
}
.modal-footer .btn + .btn {
    margin-right: 0;
}
#cart-count-items span{
    padding-left: 0px;
}
.var-block .size li.inactive:hover::after{
    display: block;
    position: absolute;
    content: "";
    height: 0px;
    width: 17px;
    background-color: #000000;
    left: 0;
    bottom: -2px;
}